* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}

#block1 {
    width: 100%;
    height: 120%;
}

#block3 {
    width: 100%;
    height: 90%;
}

#block4 {
    background-color: rgba(158, 158, 158, 0.18);
    width: 100%;
    height: 150%;
}

#block5 {
    color: white;
    height: 70%;
    width: 100%;
    font-size: 5rem;
}

#block6 {
    height: 70%;
    width: 100%;
}

#block7 {
    height: 70%;
    width: 100%;
}

#cinema {
    background-image: url(../image/cine.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

#descine {
    background-color: #3f3f3f;
    height: 100%;
    width: 100%;
}

#desport {
    background-image: url(../img/croos.jpg);
    background-size: cover;
}

#electrique {
    background-image: url(../img/viva2.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

h1 {
    background-color: rgb(128, 128, 128, 0.42);
    text-shadow: 1px 0px 1px black;
    position: relative;
    z-index: 4;
    top: -24rem;
    color: aliceblue;
    font-size: 7rem;
}

h2 {
    margin-top: 8rem;
}

p {
    font-size: 2rem;
    text-align: center;
}

#description {
    margin-top: 1rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 100%;
}

.container-fluide #block2 {
    color: white;
}

.carousel {
    top: 0rem;
    height: 0rem;
    top: 3rem;
    position: relative;
    width: 100%;
}

#row1 {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}

#ip {
    margin-top: 5%;
    width: 5rem;
}

#co {
    right: 5%;
    position: relative;
    width: 100%;
}

/* --------- */

/* social */

.footer {
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}

/* fin */

/* ----------------------------- */

/* ________________lakdarette__________________ */

._animation-photo {
    position: relative;
    margin-left: -15%;
    margin-top: -50%;
    width: 50%;
    height: 500px;
    transform: scale(1);
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

._animation-photo:hover {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
}

.profile {
    position: relative;
    top: 150px;
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.icon {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* ______________ */

/* ----------------------- */

/* -------debut Media----------------------- */

@media (max-width: 575px) {
    body {
        width: 100%;
    }
    h1 {
        top: -59px;
        position: relative;
        font-size: 2rem;
        z-index: 1;
    }
    h2 {
        margin-top: 2rem;
    }
    .carousel {
        top: 0rem;
        height: 10.5rem;
        top: 3.5rem;
        position: relative;
        width: 100%;
    }
    #co {
        top: -16%;
        position: relative;
        overflow: hidden;
    }
    #profile {
        margin-left: 40%;
        width: 5rem;
        text-align: center;
        margin-top: 0rem;
    }
    #block1 {
        width: 100%;
        height: 47%;
    }
    #block2 {
        top: 1%;
        position: relative;
        width: 100%;
        height: 155%;
    }
    #block3 {
        height: 110%;

    }
    #block4 {
        width: 100%;
        height: 80%;
    }
    #block5 {
        width: 50%;
        height: 35%;
    }
    #block6 {
        width: 50%;
        height: 35%;
    }
    #block7 {
        width: 50%;
        height: 35%;
    }
    #footer {
        font-size: 0.5;
    }
    .paragraphe {
        font-size: 60%;
    }
    ._animation-photo {
        margin-left: -10%;
        margin-top: -46%;
        right: -38%;
        position: relative;
        width: 50%;
        height: 500px;
        transform: scale(1);
        -webkit-transform: scale(0.2);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
    }
    .footer {
        font-size: 33%;
    }
    img {
        margin: 0 auto;
        width: 15%;
        vertical-align: middle;
        border-style: none;
    }
    p {
        font-size: 0.5rem;
        text-align: center;
    }
    #row1 {
        margin-left: 10%;
        margin-right: 10%;
    }
    .row {
        margin-top: 2%;
        color: black;
        text-align: center;
        color: black;
        margin-top: 0%;
        font-size: 10;
    }
    form {
        margin: 50px;
        margin-top: -3px;
    }
}

/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    h1 {
        top: -10rem;
        font-size: 4rem;
    }
    .row {
        margin-top: 2%;
        color: black;
        text-align: center;
        color: black;
        margin-top: 0%;
        font-size: 10;
    }
    #co {
        top: -16%;
        position: relative;
    }
    #profile {
        width: 5rem;
    }
    #block1 {
        width: 100%;
        height: 50%;
    }
    #block2 {
        position: relative;
        width: 100%;
        height: 100%;
    }
    #block3 {
        width: 100%;
        height: 110%;
    }
    #block4 {
        width: 100%;
        height: 50%;
    }
    .carousel {
        top: 0rem;
        height: 10.5rem;
        top: 3.5rem;
        position: relative;
        width: 100%;
    }
    .paragraphe {
        font-size: 60%;
    }
    form {
        margin: 50px;
        margin-top: -3px;
    }
    p {
        font-size: 1px;
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    #profile {
        width: 10rem;
        text-align: center;
    }
    #icone img {
        text-align: center;
    }
    #profile {
        margin-top: 0rem;
    }
    h1 {
        z-index: 1;
        top: -30rem;
        font-size: 7rem;
    }
    #block1 {
        width: 100%;
        height: 123%;
    }
    #block2 {
        width: 100%;
        height: 120%;
    }
    #block3 {
        width: 100%;
        height: 70%;
        display: flex;
    }
    #block4 {
        width: 100%;
        height: 100%;
    }
    #block5 {
        width: 100%;
        height: 70%;
    }
    #block6 {
        width: 100%;
        height: 70%;
    }
    #block7 {
        width: 100%;
        height: 70%;
    }
    .carousel {
        height: 78%;
        top: 3rem;
        position: relative;
        width: 100%;
    }
    .paragraphe {
        font-size: 90%;
    }
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    .paragraphe {
        font-size: 100%;
    }
}